body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    background-color: #2c7be5;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1a5fd4;
}S
